projet_chef_d_oeuvre/prediction_velo
**/media
!**/media/base
!**/media/ep_config/epDefault.json
!**/media/vcub_config/vcubDefault.zip
!**/media/estimations/vcubDefault_epDefault

# Cache
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints

# Config
**/.vscode
**/.python-version
