.list-group-item {
  background-color: white;
  margin: 6px 0;
  border-radius: 12px;
  padding: 6px;
  border: None;
}

.list-group-item:has(.nav-link.disabled) {
  background-color:  rgb(0, 125, 250);
  margin: 6px 0;
  border: None;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: rgb(70, 70, 70);
  font-weight: bold;
  padding: 8px;
  white-space: nowrap;
}

.nav-link.disabled {
  color: white;
}

.nav-link:hover {
  color: rgb(70, 70, 70);
}

.sbIcon {
  margin-right: 10px;
  width: 30px;
  fill: rgb(70, 70, 70);
}

.sbIcon.active {
  fill: white;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f8f9fa;
}

.login-form {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 12px;
}

.login-form h2 {
  text-align: center;
  color: #333;
}

.login-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  white-space: nowrap;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.login-form p {
  text-align: center;
  margin-top: 20px;
}

.registration {
  padding-bottom: 25px;
}

.options {
  display: flex;
  align-items: center;
}

.options input[type="checkbox"] {
  margin-left: 10px;
  margin-right: 20px;
}

body, .container-fluid {
  height: 100vh; /* Full viewport height */
  margin: 0;
  display: flex;
  flex-direction: column;
}


.content {
  flex-grow: 1; /* Takes up remaining space */
  display: flex;
}

.label1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.form-group {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.confVButton {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


.accordion .accordion-button:not(.collapsed) {
  color: #212529; /* Change to the color of unexpanded items */
  background-color: #fff; /* Change to the background color of unexpanded items */
}
